@{
    ViewBag.Title = "Danh Mục Khách Hàng";
}
@using System.Data;
<!DOCTYPE html>
<html lang="en">

<head>


    <style>
        a:hover {
            background-color: lightskyblue;
        }

        a {
            text-decoration: none;
        }

        .container table {
            justify-content: center;
            align-items: center;
            height: 50vh;
            zoom: 90%;
            text-align: center;
        }

        .container canvas {
            justify-content: center;
            align-items: center;
            height: min-content;
            zoom: normal;
        }

        h3 {
            text-align: center;
            color: blue;
        }

        table, td, th {
            border: 1px solid black;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }

        table {
            border-collapse: collapse;
        }

        .num {
            text-align: center;
            width: 100px;
        }

        .ten {
            text-align: left;
        }

        button {
            background-color: #2297f6;
            border: none;
            outline: none;
            padding: 5px;
            font-size: 30px;
            color: #ffffff;
            cursor: pointer;
            margin-top: 20px;
            text-align: center;
        }

        p {
            color: #ffffff;
        }



        canvas {
            width: 200px;
            height: 100px;
            text-align: center;
        }

        .tu_ngay {
            height: 35px;
            border-radius: 5px;
            border: 1px solid #dcdcdc;
            padding: 0px 10px;
            outline: none;
            Format: 'd-m-y';
        }

        .den_ngay {
            height: 35px;
            border-radius: 5px;
            border: 1px solid #dcdcdc;
            padding: 0px 10px;
            outline: none;
            Format: 'd-m-y';
        }



        div#chart {
            text-align: center;
            display: flex;
            justify-content:;
            width: 50%;
            height: 300px;
        }

        .submit {
            /*height: 50px;
        width: 100px;*/
            background-color: silver;
            border: none;
            color: cadetblue;
            border-radius: 7px;
            font-size: 18px;
            font-weight: 600;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            transition: all 1s ease-in-out;
        }

            .submit:hover {
                background-color: darkcyan;
                color: #ffffff;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            }

        .form .locBC {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 500px;
            height: 400px;
            float: left;
        }

        .form table {
            justify-content: center;
            align-items: center;
            height: 50vh;
            zoom: 90%;
            text-align: center;
        }

        .expandable {
            cursor: pointer;
        }

        .percent {
            width: 20%;
            text-align: right;
            text-align: center;
            background-color: #eee;
            background: linear-gradient(to right, #3399dd, #3399dd);
            background-size: 1% 100%;
            background-repeat: no-repeat;
        }



        #data {
            width: 100%;
            height: 150px;
            background: white;
            float: inline-start;
        }

        .dropdown-check-list {
            display: inline-block;
        }

            .dropdown-check-list .anchor {
                position: relative;
                cursor: pointer;
                display: inline-block;
                padding: 5px 50px 5px 10px;
                border: 1px solid #ccc;
            }

                .dropdown-check-list .anchor:after {
                    position: absolute;
                    content: "";
                    border-left: 2px solid black;
                    border-top: 2px solid black;
                    padding: 5px;
                    right: 10px;
                    top: 20%;
                    -moz-transform: rotate(-135deg);
                    -ms-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }

                .dropdown-check-list .anchor:active:after {
                    right: 8px;
                    top: 21%;
                }

            .dropdown-check-list ul.items {
                padding: 2px;
                display: none;
                margin: 0;
                border: 1px solid #ccc;
                border-top: none;
            }

                .dropdown-check-list ul.items li {
                    list-style: none;
                }

            .dropdown-check-list.visible .anchor {
                color: #0094ff;
            }

            .dropdown-check-list.visible .items {
                display: block;
            }

        .custom-combobox-container {
            position: relative;
            width: 100%;
            outline: none;
            border: none;
        }

        .custom-combobox {
            width: 100%;
            display: flex;
            align-items: center;
            border: 1px solid rgb(199, 199, 199);
            padding: 10px;
        }

            .custom-combobox input[type="text"] {
                width: 95%;
                border: none;
                outline: none;
                background: none;
            }

        .options-container {
            position: absolute;
            width: 100%;
            z-index: 100;
            border: 1px solid rgb(204, 204, 204);
            border-top: none;
            display: none;
            height: 150px;
            overflow-y: scroll;
        }

            .options-container label {
                display: block;
                cursor: pointer;
                padding: 5px;
                margin-top: 5px;
                user-select: none;
            }

                .options-container label:hover {
                    background: rgb(255, 255, 255);
                }

            .options-container::-webkit-scrollbar {
                width: 8px;
            }

            .options-container::-webkit-scrollbar-thumb {
                background-color: white;
            }

        .sidebar {
            position: relative;
            top: 0;
            left: 0;
            height: 50px;
            width: 200px;
            transition: all 0.5s ease;
        }

        .myInput {
            text-align: center;
            height: auto;
            width: 1000px;
            padding: 10px;
        }

        .container {
            text-align: center;
        }

        .data_table {
            width: max-content;
        }
        .text-loading {
            position: fixed;
            bottom: 10px;
            left: 10px;
            font-size: 13px;
            color: black;
            z-index: 3;
            background-color: rgba(255, 255, 255, 0.9); /* Background color for the span */
            padding: 5px 10px;
            display: none; /* Hide the span element initially */
        }

        .custom-checkbox {
            margin-top: 10px;
            display: inline-block;
            position: relative;
            padding-left: 30px;
            margin-right: 15px;
            cursor: pointer;
        }

            .custom-checkbox input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            border: 2px solid black;
            background-color: #ffffff;
        }

        .custom-checkbox:hover input ~ .checkmark {
            background-color: #ccc;
        }

        .custom-checkbox input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        .custom-checkbox input:checked ~ .checkmark:after {
            display: block;
        }

        .custom-checkbox .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

        .checkContainer {
            height: 300px;
            overflow: auto;
        }

            .checkContainer::-webkit-scrollbar {
                width: 0.2em;
                background-color: transparent;
            }

        .tabs {
            display: inline-block;
            /* bottom: 0;
            left: 0;
            right: 0;*/
            width: 300vh;
            height: 50px;
            /* margin: 15px auto;*/
            border-bottom: 1px solid #DAE0E7;
            background: #F9F9F9;
            list-style-type: none;
            padding: 0px 12px 0;
        }

        a {
            text-decoration: none;
            color: #333;
        }

        .tab {
            float: left;
            height: 44px;
            margin: 0 8px -1px 0;
            border: 1px solid #DAE0E7;
            background: #F9F9F9;
            border-radius: 0px 0px 0 0;
            overflow: hidden;
        }

            .tab, .tab a {
                transition: all .25s;
            }

                .tab a {
                    display: inline-block;
                }

                    .tab a:first-child {
                        padding: 12px 2px 12px 16px;
                        white-space: nowrap;
                    }

                .tab.tabClosed, .tab.tabClosed a:first-child {
                    margin-right: 0;
                    border-width: 0;
                }

                .tab.tabClosed {
                    width: 0 !important; /* use important because we need to set the width of tabs in javascript in order to be able to animate them to 0 */
                }

                    .tab.tabClosed a {
                        opacity: 0;
                    }

        .closeTab:hover {
            background: #DAE0E7;
        }

        .tab-control {
            /*   z-index: 90000;*/
            position: fixed;
        }

            .tab-control ul {
                position: absolute;
                /* left:300px;*/
            }

                .tab-control ul li {
                    text-align: center;
                }

        .tab.selected-tab {
            pointer-events: none;
            background-color: #3763a3; /* Màu nền của tab */
        }

            .tab.selected-tab a {
                pointer-events: none;
                color: white /* Màu nền của tab */
            }

            .tab.selected-tab .closeTab {
                pointer-events: auto;
            }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="Scripts/table2excel.js"></script>


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>OPC </title>
    <meta content="" name="description">
    <meta content="Author" name="MJ Maraz">
    <link href="~/assets/images/favicon.png" rel="icon">
    <link href="~/assets/images/favicon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- ========================================================= -->


    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/datatables.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">






</head>
<!-- =============== Design & Develop By = MJ MARAZ   ====================== -->

<body>
    <div class="loader" style="z-index:3"></div>
    <div class="sidebar">
        <div class="logo-details">

        </div>
        <ul class="nav-links" style="display: flex; justify-content: center;">
            <li>

            </li>
        </ul>
    </div>

    <header class="header_part">
        <a href="/Home/About">
            <img src="~/assets/images/logo.png" alt="" class="img-fluid">
        </a>
        <h4>Danh Mục Đối Tượng</h4>
    </header>
    <!-- =======  Data-Table  = Start  ========================== -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="data_table">
                    <table id="example" class="table table-striped table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>Chi Nhánh</th>
                              
                                <th>Mã Đối Tượng</th>
                                <th>Tên Đối Tượng</th>
                                @*<th>Email</th>*@
                                <th>Địa Chỉ</th>
                                <th>Tỉnh TP</th>
                                @*<th>Mã TDV</th>
                                <th>Tên TDV</th>*@
                            <td>Distribution</td>
                            <th>Industry</th>
                                @*<th>Mã LKH Ct OPC</th>
                                <th>Tên LKH OPC</th>*@
                                <th>MST</th>
                                <th>Chiết Khấu</th>
                                <th>CK OPC</th>
                                <th>CK 25</th>
                                <th>CK Cồn</th>
                                <th>CK Sủi</th>
                                <th>Payment Termp</th>
                                @*<th>Hạn TTCK</th>
                                <th>Tỷ Lệ</th>
                                <th>Hạn TTCK 1%</th>
                                <th>Tỷ Lệ 1%</th>
                                <th>Hạn TT</th>
                                <th>Hạn Mức Nợ</th>*@
                                <th>Mã Đại Diện</th>
                                <th>Người Đại Diện</th>
                                <th>Mã CSKH</th>
                                <th>Tên CSKH</th>
                                <th>Giới Tính CSKH</th>
                                <th>Sinh Nhật CSKH</th>
                                <th>SĐT CSKH</th>
                                <th>CMND CSKH</th>
                                @*<th>Ngày Cấp CMND</th>
                                <th>Nơi Cấp CSKH</th>
                                <th>Hộ Kinh Doanh</th>
                                <th>Tình Trạng</th>
                                <th>Ngày Tạo Mã</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row2 in Model.Tables[0].Rows)
                            {
                            <tr>
                                <td>@row2["Ma_Dvcs"]</td>
                            
                                <td>@row2["Ma_Dt"]</td>
                                <td>@row2["Ten_Dt"]</td>
                                @*<td>@row2["Email"]</td>*@
                                <td>@row2["Dia_Chi"]</td>
                                <td>@row2["City"]</td>
                                @*<td>@row2["Ma_TDV"]</td>
                                <td>@row2["Ten_TDV"]</td>*@
                                <td>@row2["Distribution_T"]</td>
                                <td>@row2["Industry_T"]</td>
                                @*<td>@row2["Ma_LKH_Ct_OPC"]</td>
                                <td>@row2["Ten_LKH_OPC"]</td>*@
                                <td>@row2["MST"]</td>
                                <td>@row2["CK_T"]</td>
                                <td class="num" style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row2["CK_OPC"]))</td>
                                <td class="num" style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row2["CK_25"]))</td>
                                <td class="num" style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row2["CK_Con"]))</td>
                                <td class="num" style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row2["CK_Sui"]))</td>
                                <td class="" style="text-align:right">@row2["Payment_T"]</td>
                                @*<td class="num" style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row2["Han_Tt_CkTt"]))</td>
                                <td class="" style="text-align:right">@row2["Ty_le"]%</td>
                                <td class="num" style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row2["Han_Tt_CkTt1"]))</td>
                                <td class="" style="text-align:right">@row2["Ty_Le1"]%</td>*@
                                @*<td class="num" style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row2["Han_Tt"]))</td>
                                <td class="num" style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row2["Han_Muc_No"]))</td>*@
                                <td>@row2["Ma_Dai_Dien"]</td>
                                <td>@row2["Nguoi_Dai_Dien"]</td>
                                <td>@row2["Ma_CSKH"]</td>
                                <td>@row2["Ten_CSKH"]</td>
                                <td>@row2["GT_CSKH"]</td>
                                <td>@row2["SN_CSKH1"]</td>

                                <td>@row2["SDT_CSKH"]</td>
                                <td>@row2["CMND_CSKH"]</td>
                                @*<td>@row2["NgayCap_CSKH"]</td>
                                <td>@row2["NoiCap_CSKH"]</td>
                                <td>@row2["Ho_Kinh_Doanh"]</td>
                                <td>@row2["Tinh_Trang"]</td>
                                <td>@row2["Ngay_Tao_Ma"]</td>*@
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- =======  Data-Table  = End  ===================== -->
    <!-- ============ Java Script Files  ================== -->
  
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/datatables.min.js"></script>
    <script src="~/assets/js/pdfmake.min.js"></script>
    <script src="~/assets/js/vfs_fonts.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script>
        function runReport() {
            const uncheckedCheckboxIndexes = [];
            const checkboxes = document.querySelectorAll('input[name="myCheckbox"]');

            checkboxes.forEach((checkbox, index) => {
                if (!checkbox.checked) {
                    uncheckedCheckboxIndexes.push(index);
                }
            });

            // Lưu trạng thái vào Local Storage
            localStorage.setItem('uncheckedCheckboxIndexes', JSON.stringify(uncheckedCheckboxIndexes));
            // Hiển thị thẻ span có id là "spanText"
            const spanElement = document.getElementById("spanText");
            spanElement.style.display = "block";
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxes = document.querySelectorAll('input[name="myCheckbox"]');
            const table = document.getElementById('example');

            checkboxes.forEach((checkbox, index) => {
                checkbox.addEventListener('change', function () {
                    const columnIndex = index;
                    const rows = table.querySelectorAll('tr');

                    rows.forEach(row => {
                        const cells = row.querySelectorAll('td, th');
                        cells[columnIndex].style.display = this.checked ? '' : 'none';
                    });
                });
            });
        });
    </script>
    <script>
        function applyCheckboxAndColumnState() {
            const checkboxes = document.querySelectorAll('input[name="myCheckbox"]');
            const table = document.getElementById('example');

            checkboxes.forEach((checkbox, index) => {
                const columnIndex = index;
                const rows = table.querySelectorAll('tr');

                if (!checkbox.checked) {
                    rows.forEach(row => {
                        const cells = row.querySelectorAll('td, th');
                        cells[columnIndex].style.display = 'none';
                    });
                } else {
                    rows.forEach(row => {
                        const cells = row.querySelectorAll('td, th');
                        cells[columnIndex].style.display = '';
                    });
                }
            });
        }
        // Hàm lấy trạng thái checkbox từ Local Storage và ẩn cột
        function applyUncheckedCheckboxState() {
            const uncheckedCheckboxIndexes = JSON.parse(localStorage.getItem('uncheckedCheckboxIndexes'));
            if (uncheckedCheckboxIndexes) {

                const checkboxes = document.querySelectorAll('input[name="myCheckbox"]');

                uncheckedCheckboxIndexes.forEach(index => {
                    checkboxes[index].checked = false;
                });
            }
        }

        // Áp dụng trạng thái checkbox đã bỏ chọn từ Local Storage khi trang được tải
        document.addEventListener('DOMContentLoaded', function () {
            // Áp dụng trạng thái của các checkbox đã bỏ chọn
            applyUncheckedCheckboxState();
        });


    </script>
    <script>
        function handleFormSubmit(event) {
            event.preventDefault();

            // Lấy các giá trị ngày đã chọn từ trường nhập liệu
            const fromDate = document.getElementById('tu_ngay').value;
            const toDate = document.getElementById('den_ngay').value;

            // Tạo URL mới với các tham số truy vấn
            const form = event.target;
            const actionUrl = `${form.action}?From_date=${fromDate}&To_date=${toDate}`;

            // Chuyển hướng tới URL mới với các giá trị ngày đã chọn làm các tham số truy vấn
            window.location.href = actionUrl;
        }
        function showLoader() {
            const loader = document.querySelector(".loader");
            loader.classList.remove("loader-hidden");
        }

        // Function to hide the loader
        function hideLoader() {
            const loader = document.querySelector(".loader");
            loader.classList.add("loader-hidden");
        }

        // Add an event listener to the form submission
        document.getElementById("dateForm").addEventListener("submit", (event) => {
            event.preventDefault();

            // Show the loader when the form is submitted
            showLoader();

            // Lấy các giá trị ngày đã chọn từ trường nhập liệu
            const fromDate = document.getElementById('tu_ngay').value;
            const toDate = document.getElementById('den_ngay').value;

            // Tạo URL mới với các tham số truy vấn
            const form = event.target;
            const actionUrl = `${form.action}?From_date=${fromDate}&To_date=${toDate}`;

            // Chuyển hướng tới URL mới với các giá trị ngày đã chọn làm các tham số truy vấn
            window.location.href = actionUrl;
        });

        // Add event listener for window load event
        window.addEventListener("load", () => {
            // Hide the loader after the page is loaded
            hideLoader();
            applyCheckboxAndColumnState();
        });

    </script>
    <script>
        $(document).ready(function () {
            calculateTotal();

            function calculateTotal() {
                var totalColumns = {};

                $('#example tbody tr:not(#total-row)').each(function () {
                    var cells = $(this).find('td');

                    cells.each(function (index) {
                        if (index === 0) {
                            return; // Bỏ qua cột đầu tiên với tên đơn vị
                        }

                        var columnValue = parseFloat($(this).text().replace(/,/g, ''));

                        if (!isNaN(columnValue)) {
                            if (!totalColumns[index]) {
                                totalColumns[index] = 0;
                            }
                            totalColumns[index] += columnValue;
                        }
                    });
                });

                // Hiển thị tổng trong hàng tổng cộng
                $.each(totalColumns, function (index, value) {
                    $('#total-row td').eq(index).text(formatNumber(value));
                });
            }

            function formatNumber(number) {
                return number.toLocaleString('en-US');
            }
        });

    </script>
    <script>
        //tinh sum cot tong thuc hien
        $(document).ready(function () {
            calculateTotal();

            function calculateTotal() {
                var totalThucHien = 0;

                $('#example tbody tr:not(#total-row)').each(function () {
                    var tongThucHien = parseFloat($(this).find('td').last().text().replace(/,/g, ''));
                    if (!isNaN(tongThucHien)) {
                        totalThucHien += tongThucHien;
                    }
                });

                var totalCell = $('#total-row td').last();
                totalCell.text(formatNumber(totalThucHien));
            }

            function formatNumber(number) {
                return number.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
            }
        });

    </script>
    <script>
        //tinh ty le
        $(document).ready(function () {
            calculateRatios();

            function calculateRatios() {
                var totalColumns = {};

                // Lấy giá trị cột tổng doanh thu và cột tổng khoản
                var sumDoanhThuOpc = parseFloat($('#total-row td.total-doanhthu-opc').text().replace(/,/g, ''));
                var sumKhoanOpc = parseFloat($('#total-row td.total-khoan-opc').text().replace(/,/g, ''));
                var sumDoanhThuCon = parseFloat($('#total-row td.total-doanhthu-con').text().replace(/,/g, ''));
                var sumKhoanCon = parseFloat($('#total-row td.total-khoan-con').text().replace(/,/g, ''));
                var sumDoanhThuSui = parseFloat($('#total-row td.total-doanhthu-sui').text().replace(/,/g, ''));
                var sumKhoanSui = parseFloat($('#total-row td.total-khoan-sui').text().replace(/,/g, ''));
                var sumDoanhThuPhien = parseFloat($('#total-row td.total-doanhthu-phien').text().replace(/,/g, ''));
                var sumKhoanPhien = parseFloat($('#total-row td.total-khoan-phien').text().replace(/,/g, ''));
                var sumDoanhThu25 = parseFloat($('#total-row td.total-doanhthu-25').text().replace(/,/g, ''));
                var sumKhoan25 = parseFloat($('#total-row td.total-khoan-25').text().replace(/,/g, ''));

                // Tính tỷ lệ theo từng loại
                var ratioOpc = sumKhoanOpc !== 0 ? sumDoanhThuOpc / sumKhoanOpc : 0;
                var ratioCon = sumKhoanCon !== 0 ? sumDoanhThuCon / sumKhoanCon : 0;
                var ratioSui = sumKhoanSui !== 0 ? sumDoanhThuSui / sumKhoanSui : 0;
                var ratioPhien = sumKhoanPhien !== 0 ? sumDoanhThuPhien / sumKhoanPhien : 0;
                var ratio25 = sumKhoan25 !== 0 ? sumDoanhThu25 / sumKhoan25 : 0;

                // Gán kết quả lên các ô tương ứng trong cột tỷ lệ
                $('#total-row td.total-tyle-opc').text(formatRatio(ratioOpc));
                $('#total-row td.total-tyle-con').text(formatRatio(ratioCon));
                $('#total-row td.total-tyle-sui').text(formatRatio(ratioSui));
                $('#total-row td.total-tyle-phien').text(formatRatio(ratioPhien));
                $('#total-row td.total-tyle-25').text(formatRatio(ratio25));
            }

            function formatRatio(ratio) {
                return (ratio * 100).toFixed(2) + "%";
            }
        });

    </script>
   


</body>

</html>
