

@{ ViewBag.Title = "TỔNG HỢP NHẬP XUẤT TỒN THEO KỲ - IN";
    var fromDate = Request.Cookies["From_date"].Value;
    var toDate = Request.Cookies["To_date"].Value;
    var fromDateValue = DateTime.ParseExact(fromDate, "yyyy-MM-dd", CultureInfo.InvariantCulture);
    var toDateValue = DateTime.ParseExact(toDate, "yyyy-MM-dd", CultureInfo.InvariantCulture);

    var formattedFromDate = fromDateValue.ToString("dd/MM/yyyy");
    var formattedToDate = toDateValue.ToString("dd/MM/yyyy");
    var DenNgay = Request.Cookies["To_date"].Value;
    DateTime ngay = DateTime.ParseExact(DenNgay, "yyyy-MM-dd", CultureInfo.InvariantCulture);

    // Chuyển đổi thành chuỗi theo định dạng "DD/MM/YYYY"
    string ngayDaChinhSua = ngay.ToString("dd/MM/yyyy");
    HttpCookie ngayDaChinhSuaCookie = new HttpCookie("NgayDaChinhSua", ngayDaChinhSua);
    ngayDaChinhSuaCookie.Expires = DateTime.Now.AddDays(1); // Ví dụ: sống trong 1 ngày

    var TuNgay = Request.Cookies["From_date"].Value;
    DateTime tungay = DateTime.ParseExact(TuNgay, "yyyy-MM-dd", CultureInfo.InvariantCulture);
    string tungayDaChinhSua = tungay.ToString("dd/MM/yyyy");
    HttpCookie tungayDaChinhSuaCookie = new HttpCookie("TungayDaChinhSua", tungayDaChinhSua);
    var Ma_Dv = Request.Cookies["Ma_Dv"].Value;
    string Dv = "";
    string tendv = "";
    string kyten = "";
    if (Request.Cookies["MA_DVCS"].Value == "" || Request.Cookies["MA_DVCS"].Value == "OPC_B1")
    {
        kyten = "Phụ Trách Đơn Vị";
    }
    else
    {
        kyten = "Giám đốc CN";
    }

    switch (Request.Cookies["Ma_Dv"].Value)
    {
        case "OPC_B1": Dv = "Văn phòng Tp.HCM"; break;
        case "OPC_B1_01020302": Dv = "Nhóm Cửa Hàng Sỉ Q10"; break;
        case "OPC_B1_01020303": Dv = "Nhóm Cửa hàng sỉ HAPU Hà Nội"; break;
        case "OPC_B2": Dv = "Nhà máy Bình Dương"; break;
        case "OPC_BD": Dv = "Gia Công OPCBD"; break;
        case "OPC_CT": Dv = "Chi Nhánh Cần Thơ"; break;
        case "OPC_DN": Dv = "Chi Nhánh Đà Nẵng"; break;
        case "OPC_DN_03": Dv = "Trung Việt"; break;
        case "OPC_HN": Dv = "Chi Nhánh Hà Nội"; break;
        case "OPC_HN_03": Dv = "Nhóm cửa hàng HAPU Hà Nội"; break;
        case "OPC_HN_04": Dv = "OPC1"; break;
        case "OPC_MD": Dv = "Chi Nhánh Miền Đông"; break;
        case "OPC_NA": Dv = "Chi Nhánh Nghệ An"; break;
        case "OPC_NT": Dv = "Chi Nhánh Nha Trang"; break;
        case "OPC_RD": Dv = "R&D"; break;
        case "OPC_TG": Dv = "Chi Nhánh Tiền Giang"; break;
        case "OPC_TP": Dv = "Chi Nhánh Hồ Chí Minh"; break;
        case "OPC_TP_03": Dv = "Cửa hàng phú lâm"; break;
        case "OPC_TP_05": Dv = "OPC_TP_04 Cửa hàng Online HCM"; break;
        case "OPC_VT": Dv = "Chi Nhánh Vũng Tàu"; break;
    }

    switch (Request.Cookies["Ma_Dvcs"].Value)
    {
        case "OPC": tendv = "Công Ty"; break;
        case "OPC_B1": tendv = "Công Ty"; break;
        case "OPC_CT": tendv = "Chi Nhánh Cần Thơ"; break;
        case "OPC_DN": tendv = "Chi Nhánh Đà Nẵng"; break;
        case "OPC_HN": tendv = "Chi Nhánh Hà Nội"; break;
        case "OPC_MD": tendv = "Chi Nhánh Miền Đông"; break;
        case "OPC_NA": tendv = "Chi Nhánh Nghệ An"; break;
        case "OPC_NT": tendv = "Chi Nhánh Nha Trang"; break;
        case "OPC_TG": tendv = "Chi Nhánh Tiền Giang"; break;
        case "OPC_TP": tendv = "Chi Nhánh Hồ Chí Minh"; break;
        case "OPC_VT": tendv = "Chi Nhánh Vũng Tàu"; break;
    }
}


@using System.Data;
@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>


    <meta http-equiv='X-UA-Compatible' content='IE=edge'>


    <title>TỔNG NHẬP XUÁT TỒN THEO KỲ</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    <link href="~/Styles/main.css" rel='stylesheet' type='text/css' media="all">



    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


    <style>
        * {
            font-family: 'Times New Roman';
            color: black;
        }

        page {
            margin: 0;
        }

        body {
            display: flex;
            justify-content: center;
            /*  align-items: center;*/
            min-height: 100vh;
            margin: 0;
        }

        form {
            /*                text-align: center;*/
            padding: 50px;
            border: 0px solid #ccc;
            border: none;
        }

        .flex-container {
            text-align: left;
        }

        a:hover {
            background-color: lightskyblue;
        }

        a {
            text-decoration: none;
        }

        .container table {
            justify-content: center;
            align-items: center;
            height: 50vh;
            zoom: 90%;
            text-align: center;
        }

        .container canvas {
            justify-content: center;
            align-items: center;
            height: min-content;
            zoom: normal;
        }

        h3 {
            text-align: center;
            font-weight: bold;
            color: black;
        }

        table, td, th {
            border: 1px solid black;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
            font-size: 12px
        }

        table {
            border-collapse: collapse;
        }

        .num {
            text-align: center;
            width: 100px;
        }

        .ten {
            text-align: left;
        }

        button {
            background-color: #2297f6;
            border: none;
            outline: none;
            padding: 5px;
            font-size: 30px;
            color: #ffffff;
            cursor: pointer;
            margin-top: 20px;
            text-align: center;
        }

        p {
            color: #ffffff;
        }



        canvas {
            width: 200px;
            height: 100px;
            text-align: center;
        }

        .tu_ngay {
            height: 35px;
            border-radius: 5px;
            border: 1px solid #dcdcdc;
            padding: 0px 10px;
            outline: none;
            Format: 'd-m-y';
        }

        .den_ngay {
            height: 35px;
            border-radius: 5px;
            border: 1px solid #dcdcdc;
            padding: 0px 10px;
            outline: none;
            Format: 'd-m-y';
        }



        div#chart {
            text-align: center;
            display: flex;
            justify-content:;
            width: 50%;
            height: 300px;
        }

        .submit {
            /*height: 50px;
        width: 100px;*/
            background-color: silver;
            border: none;
            color: cadetblue;
            border-radius: 7px;
            font-size: 18px;
            font-weight: 600;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            transition: all 1s ease-in-out;
        }

            .submit:hover {
                background-color: darkcyan;
                color: #ffffff;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            }

        .form .locBC {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 500px;
            height: 400px;
            float: left;
        }

        .form table {
            justify-content: center;
            align-items: center;
            height: 50vh;
            zoom: 90%;
            text-align: center;
        }

        .expandable {
            cursor: pointer;
        }

        .percent {
            width: 20%;
            text-align: right;
            text-align: center;
            background-color: #eee;
            background: linear-gradient(to right, #3399dd, #3399dd);
            background-size: 1% 100%;
            background-repeat: no-repeat;
        }



        #data {
            width: 100%;
            height: 150px;
            background: white;
            float: inline-start;
        }

        .dropdown-check-list {
            display: inline-block;
        }

            .dropdown-check-list .anchor {
                position: relative;
                cursor: pointer;
                display: inline-block;
                padding: 5px 50px 5px 10px;
                border: 1px solid #ccc;
            }

                .dropdown-check-list .anchor:after {
                    position: absolute;
                    content: "";
                    border-left: 2px solid black;
                    border-top: 2px solid black;
                    padding: 5px;
                    right: 10px;
                    top: 20%;
                    -moz-transform: rotate(-135deg);
                    -ms-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }

                .dropdown-check-list .anchor:active:after {
                    right: 8px;
                    top: 21%;
                }

            .dropdown-check-list ul.items {
                padding: 2px;
                display: none;
                margin: 0;
                border: 1px solid #ccc;
                border-top: none;
            }

                .dropdown-check-list ul.items li {
                    list-style: none;
                }

            .dropdown-check-list.visible .anchor {
                color: #0094ff;
            }

            .dropdown-check-list.visible .items {
                display: block;
            }

        .custom-combobox-container {
            position: relative;
            width: 100%;
            outline: none;
            border: none;
        }

        .custom-combobox {
            width: 100%;
            display: flex;
            align-items: center;
            border: 1px solid rgb(199, 199, 199);
            padding: 10px;
        }

            .custom-combobox input[type="text"] {
                width: 95%;
                border: none;
                outline: none;
                background: none;
            }

        .options-container {
            position: absolute;
            width: 100%;
            z-index: 100;
            border: 1px solid rgb(204, 204, 204);
            border-top: none;
            display: none;
            height: 150px;
            overflow-y: scroll;
        }

            .options-container label {
                display: block;
                cursor: pointer;
                padding: 5px;
                margin-top: 5px;
                user-select: none;
            }

                .options-container label:hover {
                    background: rgb(255, 255, 255);
                }

            .options-container::-webkit-scrollbar {
                width: 8px;
            }

            .options-container::-webkit-scrollbar-thumb {
                background-color: white;
            }

        .sidebar {
            position: fixed;
            height: 100%;
            width: 200px;
            transition: all 0.5s ease;
        }

        .myInput {
            text-align: center;
            height: auto;
            width: 1000px;
            padding: 10px;
        }

        .container {
            text-align: center;
        }

        h5 {
            /*text-align: center;*/
            font-size: 15px;
        }

        .text-loading {
            position: fixed;
            bottom: 10px;
            left: 10px;
            font-size: 13px;
            color: black;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.9); /* Background color for the span */
            padding: 5px 10px;
            display: none; /* Hide the span element initially */
        }

        .expandable-icon {
            cursor: pointer;
        }

            .expandable-icon.collapsed {
                transform: rotate(0deg);
            }

            .expandable-icon.expanded {
                transform: rotate(180deg);
            }

        .material-symbols-outlined {
            cursor: pointer;
        }
        /* Style for the container of the forms */
        .forms-container {
            display: flex;
        }

        /* Style for the locBC form */
        .locBC-form {
            width: 300px; /* Adjust width as needed */
            margin-right: 20px; /* Add space between forms */
        }

        /* Style for the data form */
        .data-form {
            flex: 1; /* Take up remaining space */
        }

        .print-button {
            margin-top: 10px;
        }

        @@media print {
            #locBC {
                display: none;
            }

            #data-form {
                justify-content: center;
                /*  align-items: center;*/
                min-height: 100vh;
                margin: 0; /* Canh giữa nội dung trong data-form */
            }

            h5 {
                text-align: center;
                font-size: 15px;
            }

            #data-form .print-button {
                display: none;
            }
        }

        img {
            width: 70px;
            height: 40px;
        }

        tr {
            page-break-inside: avoid; /* Tránh chuyển trang giữa các dòng */
        }

            tr td {
                padding: 5px;
            }
    </style>
</head>
<body>
    <div class="forms-container">
        <form class="data-form" id="data-form">
            <div style="display:flex;justify-content:space-between;align-items:center">
                <div style="justify-content: space-between;text-align:left;text-align:center">
                    <div>Đơn vị: @tendv</div>
                    <div style="height:30px"></div>
                </div>
                <div style="text-align:center;width:300px">
                    <h5 style="font-weight:bold"></h5>
                    <h5 style="word-wrap: break-word"></h5>

                </div>
            </div>

            <div style="text-align:center">
                <h3 style="font-size: 25px; color: black; font-weight: bold">TỔNG HỢP NHẬP XUẤT TỒN THEO TÀI KHOẢN</h3>
                <h3 style="font-size: 20px; color: black; font-weight: bold">MATERIAL INVENTORIES - BALANCE HISTORY</h3>
                <h5>Từ ngày/From Date: @tungayDaChinhSua&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đến Ngày/To Date: @ngayDaChinhSua</h5>

                <br />
            </div>
            <div style="text-align:left"><h5 style="font-weight:bold">Business President:  @Request.Cookies["Ma_Dv"].Value @Dv </h5></div>
            <div style="margin-top:10px">
                <table id="example" class="table table-striped table-bordered" data-excel-name="Sheet 1">
                    <thead class="table-dark" id="head" style="padding:5px">
                        <tr>
                            <th rowspan="2" style="align-content:center">Tài Khoản<br />G/L Account</th>
                            <th rowspan="2" style="align-content: center">Mã hàng<br />Item Code</th>
                            <th rowspan="2" style="align-content: center;width:100px">Tên hàng<br />Item Name</th>
                            <th rowspan="2" style="align-content: center">Đvt<br />Unit</th>

                            <th colspan="2" style="width:120px"> Số Dư Đầu Kỳ<br />Opening Balance</th>
                            <th colspan="2">Nhập kho<br />Move In</th>
                            <th colspan="2">Xuất Kho<br />Move On</th>
                            <th colspan="2"> Số Dư Cuối Kỳ<br />Closing Balance</th>
                        </tr>
                        <tr>

                            <th>Số Lượng<br />Qty</th>
                            <th>Giá Trị<br />Amount</th>

                            <th>Số Lượng<br />Qty</th>
                            <th>Giá Trị<br />Amount</th>

                            <th>Số Lượng<br />Qty</th>
                            <th>Giá Trị<br />Amount</th>

                            <th>Số Lượng<br />Qty</th>
                            <th>Giá Trị<br />Amount</th>



                        </tr>
                    </thead>

                    <tbody style="padding:5px">
                        @foreach (DataRow row in Model.Tables[1].Rows)
                        {
                            if (row["Tk"].ToString() == "1521")
                            {
                                <tr style="font-weight:bold">

                                    <td colspan="4" style="text-align:left">Tài Khoản 1521: Nguyên Liệu Chính</td>
                                    <td style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_CK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_CK"])).Replace(",", ".")</td>
                                </tr>


                                foreach (DataRow row2 in Model.Tables[0].Rows)
                                {
                                    if (row2["Tk"].ToString() == "1521")
                                    {
                                        if (Convert.ToDecimal(row2["So_Luong_CK"]) > 0 || Convert.ToDecimal(row2["So_Luong_DK"]) > 0 || Convert.ToDecimal(row2["So_Luong_Xuat"]) > 0 || Convert.ToDecimal(row2["So_Luong_Nhap"]) > 0)
                                        {

                                            <tr class="expandable-content_detail">
                                                <td>@row2["Tk"]</td>
                                                <td data-format="string">@row2["Ma_Vt"]</td>
                                                <td style="text-align:left">@row2["Ten_Vt"]</td>
                                                <td>@row2["Dvt"]</td>
                                                <td data-t="n" class="num" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_CK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_CK"])).Replace(",", ".")</td>


                                            </tr>
                                        }
                                    }
                                }
                            }
                            if (row["Tk"].ToString() == "1522")
                            {
                                <tr style="font-weight:bold">

                                    <td colspan="4" style="text-align:left">Tài Khoản 1522: Bao Bì, Phụ Liệu</td>
                                    <td style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_CK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_CK"])).Replace(",", ".")</td>
                                </tr>


                                foreach (DataRow row2 in Model.Tables[0].Rows)
                                {
                                    if (row2["Tk"].ToString() == "1522")
                                    {
                                        if (Convert.ToDecimal(row2["So_Luong_CK"]) > 0 || Convert.ToDecimal(row2["So_Luong_DK"]) > 0 || Convert.ToDecimal(row2["So_Luong_Xuat"]) > 0 || Convert.ToDecimal(row2["So_Luong_Nhap"]) > 0)
                                        {

                                            <tr class="expandable-content_detail">
                                                <td>@row2["Tk"]</td>
                                                <td data-format="string">@row2["Ma_Vt"]</td>
                                                <td style="text-align:left">@row2["Ten_Vt"]</td>
                                                <td>@row2["Dvt"]</td>
                                                <td data-t="n" class="num" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_CK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_CK"])).Replace(",", ".")</td>


                                            </tr>
                                        }
                                    }
                                }
                            }
                            if (row["Tk"].ToString() == "1551")
                            {
                                <tr style="font-weight:bold">

                                    <td colspan="4" style="text-align:left">Tài Khoản 1551: Thành Phẩm</td>
                                    <td style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_CK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_CK"])).Replace(",", ".")</td>
                                </tr>


                                foreach (DataRow row2 in Model.Tables[0].Rows)
                                {
                                    if (row2["Tk"].ToString() == "1551")
                                    {
                                        if (Convert.ToDecimal(row2["So_Luong_CK"]) > 0 || Convert.ToDecimal(row2["So_Luong_DK"]) > 0 || Convert.ToDecimal(row2["So_Luong_Xuat"]) > 0 || Convert.ToDecimal(row2["So_Luong_Nhap"]) > 0)
                                        {

                                            <tr class="expandable-content_detail">
                                                <td>@row2["Tk"]</td>
                                                <td data-format="string">@row2["Ma_Vt"]</td>
                                                <td style="text-align:left">@row2["Ten_Vt"]</td>
                                                <td>@row2["Dvt"]</td>
                                                <td data-t="n" class="num" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_CK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_CK"])).Replace(",", ".")</td>


                                            </tr>
                                        }
                                    }
                                }
                            }
                            if (row["Tk"].ToString() == "1561")
                            {
                                <tr style="font-weight:bold">

                                    <td colspan="4" style="text-align:left"> Tài Khoản 1561: Giá Mua Hàng Hóa</td>
                                    <td style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_CK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_CK"])).Replace(",", ".")</td>
                                </tr>

                                foreach (DataRow row2 in Model.Tables[0].Rows)
                                {
                                    if (row2["Tk"].ToString() == "1561")
                                    {
                                        if (Convert.ToDecimal(row2["So_Luong_CK"]) > 0 || Convert.ToDecimal(row2["So_Luong_DK"]) > 0 || Convert.ToDecimal(row2["So_Luong_Xuat"]) > 0 || Convert.ToDecimal(row2["So_Luong_Nhap"]) > 0)
                                        {

                                            <tr class="expandable-content_detail1561">
                                                <td>@row2["Tk"]</td>
                                                <td data-format="string">@row2["Ma_Vt"]</td>
                                                <td style="text-align:left">@row2["Ten_Vt"]</td>
                                                <td>@row2["Dvt"]</td>
                                                <td data-t="n" class="num" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_CK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_CK"])).Replace(",", ".")</td>


                                            </tr>
                                        }
                                    }
                                }
                            }

                            if (row["Tk"].ToString() == "1563")
                            {
                                <tr style="font-weight:bold">

                                    <td colspan="4" style="text-align:left">Tài Khoản 1563: Hàng Hóa Khuyến Mãi</td>
                                    <td style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_CK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_CK"])).Replace(",", ".")</td>
                                </tr>


                                foreach (DataRow row2 in Model.Tables[0].Rows)
                                {
                                    if (row2["Tk"].ToString() == "1563")
                                    {
                                        if (Convert.ToDecimal(row2["So_Luong_CK"]) > 0 || Convert.ToDecimal(row2["So_Luong_DK"]) > 0 || Convert.ToDecimal(row2["So_Luong_Xuat"]) > 0 || Convert.ToDecimal(row2["So_Luong_Nhap"]) > 0)
                                        {

                                            <tr class="expandable-content_detail1563">
                                                <td>@row2["Tk"]</td>
                                                <td data-format="string">@row2["Ma_Vt"]</td>
                                                <td style="text-align:left">@row2["Ten_Vt"]</td>
                                                <td>@row2["Dvt"]</td>
                                                <td data-t="n" class="num" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_CK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_CK"])).Replace(",", ".")</td>


                                            </tr>
                                        }
                                    }
                                }
                            }
                            if (row["Tk"].ToString() == "1571")
                            {
                                <tr style="font-weight:bold">
                                    <td style="text-align:left" colspan="4">
                                        Tài Khoản 1571: Hàng Hóa Gửi Đi Bán
                                    </td>

                                    <td style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_CK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_CK"])).Replace(",", ".")</td>
                                </tr>


                                foreach (DataRow row2 in Model.Tables[0].Rows)
                                {
                                    if (row2["Tk"].ToString() == "1571")
                                    {
                                        if (Convert.ToDecimal(row2["So_Luong_CK"]) > 0 || Convert.ToDecimal(row2["So_Luong_DK"]) > 0 || Convert.ToDecimal(row2["So_Luong_Xuat"]) > 0 || Convert.ToDecimal(row2["So_Luong_Nhap"]) > 0)
                                        {

                                            <tr class="expandable-content_detail1571">
                                                <td>@row2["Tk"]</td>
                                                <td data-format="string">@row2["Ma_Vt"]</td>
                                                <td style="text-align:left">@row2["Ten_Vt"]</td>
                                                <td>@row2["Dvt"]</td>
                                                <td data-t="n" class="num" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_CK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_CK"])).Replace(",", ".")</td>


                                            </tr>
                                        }
                                    }
                                }
                            }
                            if (row["Tk"].ToString() == "1572")
                            {
                                <tr style="font-weight:bold">
                                    <td colspan="4" style="text-align:left">
                                        Tài Khoản 1572: Thành Phẩm Gửi Đi Bán
                                    </td>

                                    <td style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_DK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["So_Luong_CK"])).Replace(",", ".")</td>
                                    <td style="text-align:right">@String.Format("{0:n0}", Convert.ToDecimal(row["Gia_Tri_CK"])).Replace(",", ".")</td>
                                </tr>


                                foreach (DataRow row2 in Model.Tables[0].Rows)
                                {
                                    if (row2["Tk"].ToString() == "1572")
                                    {
                                        if (Convert.ToDecimal(row2["So_Luong_CK"]) > 0 || Convert.ToDecimal(row2["So_Luong_DK"]) > 0 || Convert.ToDecimal(row2["So_Luong_Xuat"]) > 0 || Convert.ToDecimal(row2["So_Luong_Nhap"]) > 0)
                                        {

                                            <tr class="expandable-content_detail1572">
                                                <td>@row2["Tk"]</td>
                                                <td data-format="string">@row2["Ma_Vt"]</td>
                                                <td style="text-align:left">@row2["Ten_Vt"]</td>
                                                <td>@row2["Dvt"]</td>
                                                <td data-t="n" class="num" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_DK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["So_Luong_CK"])).Replace(",", ".")</td>
                                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row2["Gia_Tri_CK"])).Replace(",", ".")</td>


                                            </tr>
                                        }
                                    }
                                }
                            }
                        }
                        @foreach (DataRow row1 in Model.Tables[2].Rows)
                        {
                            <tr style="font-weight:bold">
                                <td colspan="4">Tổng cộng(Total):</td>
                                <td data-t="n" class="num" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row1["So_Luong_DK"])).Replace(",", ".")</td>
                                <td data-t="n" style="text-align:right"> @String.Format("{0:n0}", Convert.ToDecimal(row1["Gia_Tri_DK"])).Replace(",", ".")</td>
                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row1["So_Luong_Nhap"])).Replace(",", ".")</td>
                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row1["Gia_Tri_Nhap"])).Replace(",", ".")</td>
                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row1["So_Luong_Xuat"])).Replace(",", ".")</td>
                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row1["Gia_Tri_Xuat"])).Replace(",", ".")</td>
                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row1["So_Luong_CK"])).Replace(",", ".")</td>
                                <td data-t="n" style='text-align:right;'> @String.Format("{0:n0}", Convert.ToDecimal(row1["Gia_Tri_CK"])).Replace(",", ".")</td>
                            </tr>
                        }
                    </tbody>







                </table>


                <br />

                <div style="text-align:right"> Ngày.....tháng.....năm.....</div>
                <div style="display:flex;justify-content:space-between;text-align:center">
                    <h4 style="margin-left:30px">Thủ Kho</h4>

                    <h4 style="">Kế toán</h4>
                    <h4 style="margin-right:30px">@kyten</h4>
                </div><br />

            </div>

        </form>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    @*<button id="export-button" onclick="exportExcel()">Xuất Excel</button>*@
    <input type="file" id="file-input" style="display: none">
    <script src="src/jquery.table2excel.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

    <!-- Tải jQuery từ CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <script>
        function showFileInput() {
            // Sử dụng JavaScript để kích hoạt hộp thoại chọn vị trí lưu tệp
            var fileInput = document.getElementById("file-input");
            file.click();
        }

    </script>
    <script>
        document.addEventListener('keydown', function (event) {
            if (event.ctrlKey && event.key === 'p') {
                // Người dùng nhấn Ctrl+P, ẩn nút xuất Excel
                document.getElementById('export-button').style.display = 'none';
            }
        });
    </script>

</body>

</html>

